@import "tailwindcss";

body,
html {
  margin: 0;
  padding: 0;
  background-color: #030303;
  border-color: #222831;
  color: #F0ECE5;
}

::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: transparent;
}

::-webkit-scrollbar-thumb:hover {
  background: transparent;
}