---
export const prerender = false
import MainLayout from "../../layouts/MainLayout.astro";

interface Tag {
  name: string;
  slug: string;
  post:{
    title: string;
    slug: string;
  }[]
}

const { tag } = Astro.params;

const query = {
  method: "POST",
  headers: { "Content-Type": "application/json" },
  body: JSON.stringify({
    query: `
      {
        tags {
          name
          slug
          post{
            title
            slug
          }
        }
      }
    `,
  }),
};

const response = await fetch(import.meta.env.HYGRAPH_API, query);
const json = await response.json();
const op: Tag | undefined = json?.data?.tags?.find((p: Tag) => p.slug === tag);
---

<MainLayout>
  <div class="w-full lg:max-w-4xl mx-auto">
    <div class="p-5 grid sm:grid-cols-2 gap-5">
      {op?.post.map(({title, slug}) => (
          <a href={`/blogs/${slug}`} class="p-5 border rounded-[20px]">
              <h2>{title}</h2>
          </a>
      ))}
    </div>
  </div>
</MainLayout>