---
export const prerender = false;
import MainLayout from "../../../layouts/MainLayout.astro";

interface Author {
  name: string;
  slug: string;
  post:{
    title: string;
    slug: string;
  }[]
}

const { author } = Astro.params;

const query = {
  method: "POST",
  headers: { "Content-Type": "application/json" },
  body: JSON.stringify({
    query: `
      {
        authors {
          name
          slug
          post{
            title
            slug
          }
        }
      }
    `,
  }),
};

const response = await fetch(import.meta.env.HYGRAPH_API, query);
const json = await response.json();
const op: Author | undefined = json?.data?.authors?.find((p: Author) => p.slug === author);
---

<MainLayout>
  <div class="">
    <h1 class="">{op?.name}</h1>
    {op?.post.map(({title, slug}, i) => (
        <div>
            <a href={`/blogs/${slug}`}>{i + 1}. {title}</a>
        </div>
    ))}
  </div>
</MainLayout>