---
import MainLayout from "../../layouts/MainLayout.astro";

interface Post {
  title: string;
  slug: string;
  tag: {
    name: string;
    slug: string
  }[];
}

const query = {
  method: "POST",
  headers: { "Content-Type": "application/json" },
  body: JSON.stringify({
    query: `
      {
        posts {
          title
          slug
          tag {
            name
            slug
          }
        }
      }`,
  }),
};

const response = await fetch(import.meta.env.HYGRAPH_API, query);
const json = await response.json();
const posts: Post[] = json.data.posts ?? [];
---

<MainLayout>
  <div class="w-full lg:max-w-5xl mx-auto py-10 px-4">
    <h1 class="text-4xl font-bold text-center mb-10 text-white">
      <span class="text-orange-500">Blogs</span>
    </h1>
    <div class="grid sm:grid-cols-2 gap-6">
      {posts.map(({ title, slug, tag }) => (
        <div
          class="p-5 flex flex-col justify-between space-y-5 rounded-[20px] border flex-col relative overflow-hidden hover:brightness-110 z-20"
          style="background: radial-gradient(circle at top left, #1a1a1a, #0d0d0d); border-color: #2c2c2c; height: 100%;"
        >
          <a
            href={`/blogs/${slug}`}
            class="z-10 relative text-white transition-colors"
          >
            {title}
          </a>

          <div class="flex flex-wrap gap-5 z-10 relative mt-auto">
            {tag.map(({ name, slug }) => (
              <a
                href={`/tags/${slug}`}
                class="z-10 relative inline-block px-6 py-3 text-sm text-center 
                rounded-[16px] bg-[#14100f] text-white border border-[#3a2a1e] 
                hover:bg-[#1e1917] hover:border-[#5a3a1e] transition-colors"
              >
                #{name}
              </a>
            ))}
          </div>
        </div>
      ))}
    </div>
  </div>
</MainLayout>